/* Reset styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    //TODO
    // Need to check if this is a good solution? or not.
    // We have to use it here because when we open a popup
    // (which is from another React app) our font is overwritten
    // by the font of the popup
    font-family: var(--font-montserrat) !important;
  }
  
  /* Global styles */
  body {
    font-family: inherit;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  highlight,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  button,
  video {
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
  }
  
  address,
  body,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p,
  ul {
    margin: 0;
    padding: 0;
  }
  
  ol,
  ul {
    list-style: none;
  }
  