@use 'styles/variables/colors.module.scss' as colors;
@use 'styles/mixins/langDirections.scss' as *;

@mixin divider-line {
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 4px;
    @include langDirection('right', -24px, 'left', -24px);
    width: 1px;
    background-color: colors.$secondary-light;
  }
}
